/* General CSS rules for every viewport, including large desktop screens */
html{
	font-size: 14px;
}

body{
	font-family: 'Montserrat', 'Verdana', sans-serif;
	font-size: 1rem;
	font-weight: 500;
	color: hsl(228, 12%, 48%);
	background-color: hsl(30, 38%, 92%);
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main{
	max-width: 94vw;
	max-height: 94vh;
}

.product_card{
	margin: auto;
	display: flex;
	justify-content:center;
	max-width: 600px;
}

.product_img{
	display: flex;
	flex: 1 1 0;
}

.product_img img{
	border-radius:1rem 0 0 1rem;
}

.product_detail{
	background-color: hsl(0, 0%, 100%);
	padding: 5%;
	flex: 1 1 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius:0 1rem 1rem 0;
}

.product_detail .product_name{
	text-transform: uppercase;
	letter-spacing: .5rem;
}

.product_detail h2,
.product_detail .sale_price{
	font-family: 'Fraunces', 'Georgia', serif;
	font-weight: 700;
}

.product_detail h2{
	font-size: 2rem;
	color: hsl(212, 21%, 14%);
}

.product_prices{
	display: flex;
	align-items: center;
}

.product_prices .sale_price,
.product_prices .original_price{
	flex: 1;
}

.product_prices .sale_price{
	font-size: 2rem;
	color: hsl(158, 36%, 37%);
}

.product_prices .original_price{
	text-decoration: line-through;
}

button.add_to_cart{
	font: inherit;
	font-weight: 700;
	color: hsl(0, 0%, 100%);
	background-color: hsl(158, 36%, 37%);
	border-radius: 5px;
	border-style: none;
	padding: 5% 0;
	display: flex;
	justify-content: center;
}

button.add_to_cart::before{
	content: url('../images/icon-cart.svg');
	margin-right: 0.5rem;
}

button.add_to_cart:hover,
button.add_to_cart:focus
{
	background-color: hsl(158, 36%, 20%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

  /* Rules for laptops, small desktop screens, and smaller viewports */
@media (width <= 1199px) {
	.product_card{
		max-width: 600px;
	}
	.product_img img{
		border-radius:1rem 0 0 1rem;
	}
	.product_detail{
		border-radius:0 1rem 1rem 0;
	}
}

  /* Rules for tablets and smaller viewports */
@media (width <= 991px) {
	.product_card{
		max-width: 600px;
	}
	.product_img img{
		border-radius:1rem 0 0 1rem;
	}
	.product_detail{
		border-radius:0 1rem 1rem 0;
	}
}

  /* Rules for smartphones only */
@media (width <= 767px) {
	.product_card{
		flex-direction: column;
	}
	.product_img img{
		border-radius:1rem 1rem 0 0;
	}
	.product_detail{
		gap: .5rem;
		border-radius: 0 0 1rem 1rem;
	}
}
